@import "tailwindcss";

.headerMain{
      background-color: #0cc952;
}
.panelHeader{
   background-color: #155dfc
}
.panelHeader .pabelButton a{
     background-color: #0cc952;
}

 
.panelBody  .bg-gray-900 {
    background-color: #393d47;
}
.headerMain div[role="menu"] a{
    background-color: #0cc952 !important;
    background: #0cc952 !important;
}

.bg-green-500{
    background-color: #0cc952 !important;
}

.bg-yellow-500{
    background-color: #f0b100 !important;
}
.bg-blue-500{
    background-color: #2b7fff !important;
}
.bg-red-500{
    background-color:  #fb2c36 !important;
}
 

.text-22px{
    font-size: 22px !important;
}

/* Optional: Adjust font size for print */
  .jodit-wysiwyg {
    font-size: 24px !important;
  }

    .jodit-wysiwyg p{
    font-size: 24px !important;
    font-family:  "'Helvetica Neue', Helvetica, Arial, sans-serif" !important;
  }

  .jodit-container,.jodit-workplace{
    height: unset !important;
    max-height: unset !important;
    border: none !important;
  }
  .jodit-toolbar__box{
    border: none !important;
  }
  .jodit-status-bar.jodit-status-bar_resize-handle_true{
    display: none !important;
  }
@media print {

      /* Hide toolbar */
  .jodit-toolbar,
  .jodit-toolbar-editor-collection,
  .jodit-workplace__toolbar {
    display: none !important;
  }

  /* Hide status bar */
  .jodit-status-bar,
  .jodit-workplace__statusbar {
    display: none !important;
  }

  /* Remove borders */
  .jodit-container,
  .jodit-wysiwyg,
  .jodit-workplace {
    border: none !important;
    box-shadow: none !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  /* Show only content */
  .jodit-wysiwyg {
    background: transparent !important;
    padding: 0 !important;
  }

  /* Enforce font size for print */
  .jodit-wysiwyg * {
    font-size: inherit !important;
  }

  .jodit-wysiwyg {
    font-size: 20px !important;
  }
  
  /* Hide toolbar */
  .jodit-toolbar,
  .jodit-toolbar-editor-collection,
  .jodit-workplace__toolbar {
    display: none !important;
  }

  /* Hide status bar */
  .jodit-status-bar,
  .jodit-workplace__statusbar {
    display: none !important;
  }

  /* Remove borders */
  .jodit-container,
  .jodit-wysiwyg,
  .jodit-workplace {
    border: none !important;
    box-shadow: none !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  /* Remove editor wrapper borders */
  .print-editor-wrapper .jodit,
  .print-editor-wrapper .jodit-container {
    border: none !important;
  }

  /* Show only content */
  .jodit-wysiwyg {
    background: transparent !important;
    padding: 0 !important;
  }

  
 .jodit-wysiwyg p{
    font-size: 24px !important;
    font-family:  "'Helvetica Neue', Helvetica, Arial, sans-serif" !important;
  }


  /* Remove the contentEditable div if you don't need it */
  .print-comment-container [contenteditable] {
    border: none !important;
  }
}

/* Optional: Hide contentEditable div on screen as well if not needed */
.print-comment-container [contenteditable]:not(.jodit-wysiwyg) {
  display: none;
}