@import "tailwindcss";

.headerMain{
      background-color: #0cc952;
}
.panelHeader{
   background-color: #155dfc
}
.panelHeader .pabelButton a{
     background-color: #0cc952;
}

 
.panelBody  .bg-gray-900 {
    background-color: #393d47;
}
.headerMain div[role="menu"] a{
    background-color: #0cc952 !important;
    background: #0cc952 !important;
}

.bg-green-500{
    background-color: #0cc952 !important;
}

.bg-yellow-500{
    background-color: #f0b100 !important;
}
.bg-blue-500{
    background-color: #2b7fff !important;
}
.bg-red-500{
    background-color:  #fb2c36 !important;
}